<div class="container">
    <h2 class="page-title">Product List</h2>
    <div class="scorllcard">
        <mat-grid-list class="card-list " [cols]="getGridColumns()" rowHeight="350px" gutterSize="10px">
            <div *ngFor="let product of productList |search:searchtext">
                <div *ngIf="product.owner != current_owner">
                    <mat-grid-tile>
                        <div>
                            <mat-card class="example-card">
                                <mat-card-header class="mat-header">
                                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                    <div style="height: fit-content; ">
                                        <mat-card-title style="font-size: medium;">{{product.title}}</mat-card-title>
                                        <mat-card-subtitle>{{product.brand}}</mat-card-subtitle>
                                    </div>
                                </mat-card-header>
                                <div class="image-box">
                                    <img class="image-style" src="{{product.thumbnail}}" alt="">
                                </div>
                                <mat-card-content>
                                    <h3>{{product.price}}</h3>
                                    <p class="card-desc">
                                        {{product.description}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button type="button" (click)="addtocart(product)">Add to cart</button>
                                </mat-card-actions>

                            </mat-card>
                        </div>
                    </mat-grid-tile>
                </div>
            </div>
        </mat-grid-list>
    </div>

</div>