<div class="main">
    <div class="slider-container" >
        <div class="slider-item">
            <div class="item"*ngFor="let product of productList">
                <img src="{{product.images[0]}}" alt="" class="slider-img">
                <div  class="slider-buy-btn">
                    <button mat-icon-button type="button"><mat-icon>shopping_basket</mat-icon></button>
                </div>
            </div>
            
        </div>
        <div>
            <button mat-icon-button class="pre" type="submit" (click)="pre()"><mat-icon>chevron_right</mat-icon></button>
            <button mat-icon-button class="next" type="submit" (click)="next()"><mat-icon>chevron_left</mat-icon></button>
            
        </div>
        <!-- <div>
            <button mat-button type="submit">submit</button>
        </div> -->
    </div>
</div>

       

