<div class="spacer">
<div class="block">
    <h1 class="page-title">Add Product</h1>
    <form class="container" [formGroup]="AddProductform" (ngSubmit)="OnAddProduct()">
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Enter Product Name" formControlName="title" type="text">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>description</mat-label>
            <textarea matInput placeholder="Product description" formControlName="description" ></textarea>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product price</mat-label>
            <input matInput placeholder="Product price" formControlName="price" type="Number">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>discount Percentage</mat-label>
            <input matInput placeholder="discountPercentage" formControlName="discountPercentage" type="Number">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product Rating</mat-label>
            <input matInput placeholder="Product rating" formControlName="rating" type="Number">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Available stock</mat-label>
            <textarea matInput placeholder="stock" formControlName="stock" type="Number"></textarea>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product brand</mat-label>
            <input matInput placeholder="Enter Product brand" formControlName="brand" type="text">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product category</mat-label>
            <input matInput placeholder="Enter Product category" formControlName="category" type="text">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product thumbnail</mat-label>
            <input matInput placeholder="Enter Product thumbnail" formControlName="thumbnail" type="text">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product owner</mat-label>
            <input matInput placeholder="Enter Product owner" formControlName="owner" type="text">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Product Images</mat-label>
            <input matInput placeholder="Enter Product images" formControlName="images" type="text">
        </mat-form-field><br>
        
            <!-- <input  type="file" (change)="onFileSelected($event)" /> -->
        
        <button mat-raised-button class="btn-style" type="submit">Add Product</button><br>

    </form>
</div>
</div>